<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c" 
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

    <context:annotation-config/>
    <context:component-scan base-package="com.eu.spring.core"/>

    <import resource="loggers-conf.xml"/>

    <bean id="client" class="com.eu.spring.core.Client">
        <constructor-arg index="0" value="${id}"/>
        <constructor-arg index="1" value="${name}"/>
    </bean>

    <alias name="client" alias="mainClient"/>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="com.eu.spring.core.App" depends-on="client, logger"
          c:typeToLoggerMap-ref="loggerMap"
          p:defaultEventLogger="#{T(com.eu.spring.core.Event).isDay() ? cacheEventLogger : consoleEventLogger}">
        <constructor-arg ref="mainClient"/>
    </bean>

    <bean id="event" name="generatedEvent" class="com.eu.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:com/eu/spring/core/client.properties</value>
            </list>
        </property>

        <property name="ignoreResourceNotFound" value="true"/>

        <property name="systemPropertiesMode">
            <util:constant static-field=
                "org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>
</beans>