<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
        default-lazy-init="false">

    <import resource="loggers-conf.xml"/>

    <bean id="client" class="com.eu.spring.core.Client">
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="Eduard"/>
    </bean>

    <alias name="client" alias="mainClient"/>

    <bean id="app" class="com.eu.spring.core.App" depends-on="client, logger">
        <constructor-arg ref="mainClient"/>
        <constructor-arg ref="logger"/>
    </bean>

    <bean id="event" name="generatedEvent" class="com.eu.spring.core.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>